<p id="notice"><%= notice %></p>

<h2>Sign in</h2>

<%= form_tag session_path do %>
  Username: <%= text_field_tag :username, params[:username] %> 
  Password: <%= password_field_tag :password, params[:password] %>
  <%= submit_tag "LogIN" %>
<% end %>