<p id="notice"><%= notice %></p>

<p>
  <strong>Style:</strong>
  <%= @style.style %>
</p>

<p>
  <strong>Description:</strong>
  <%= @style.description %>
</p>

<p>
  List of beers in style:<br>
  <% @style.beers.all.each do |beer| %>
  <%= link_to beer.name, beer_path %><br>
  <% end %>
  
<%= link_to 'Edit', edit_style_path(@style) %> |
<%= link_to 'Back', styles_path %>
